.summary-section {  
    width: 100%;
}

.sbu-section {
    margin-bottom: 30px !important;
    width: 100%;
    margin: 0 auto;
    display: block;
    clear: both;
    background-color: #adedd6;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bio-section {
    margin-bottom: 30px !important;
    display: block;
    margin: 0 auto;
    width: 100%;
    clear: both;
}

.code-section {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    width: 100%;
    display: block;
    margin: 0 auto;
    clear: both;
}

.skills-section {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #f2f3f5;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 0;
    margin-left: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.sbu-text {
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38, 0.15);
    padding: 10px 10px;
    border-radius: 0.3rem;
    border: 1px solid rgba(34,36,38, 0.15);
    text-align: left;
    line-height: 125%;
    padding-bottom: 20px;
}

.sbu-image-src {
    width: 50%;
    height: 50%;
    max-width: 300px;
    min-width: 200px;
}

.sbu-image {
    margin-bottom: 20px;
}

.bio-image {
    display: block;
    min-width: 275px;
    max-width: 350px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.bio-image-wrapper {
    width: 45%;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.bio-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38, 0.15);
    padding: 10px 10px;
    border-radius: 0.3rem;
    border: 1px solid rgba(34,36,38, 0.15);
    text-align: left;
    line-height: 125%;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.code {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    background-color: #c0cdd1;
    padding: 10px 10px;
    border-radius: 0.3rem;
    border: 1px solid #a7afb2;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.tag {
    color: green;
}

.bio-outer-image {
    margin-right: auto;
    margin-left: auto;
    width: inherit;
}

.logo {
    width: 60%;
    max-width: 150px;
    min-width: 100px;
    line-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.scrum {
    width: 100%;
    max-width: 275px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.microsoft {
    width: 80%;
    max-width: 225px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.skills-section .col-md-3{
    height: 200px;
}

.skills-section .col-md-6 {
    height: 200px;
}

.code-btn .fab{
    
}

.code-btn {

}