.cellImage {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 65%;
    cursor: pointer;
    transition: filter 0.1s ease-in;
}

.cellImage:hover {
    filter: brightness(80%);
}

img {
    padding: 5px;
}

.cellText {
    text-align: center;
    margin-top: -3px;
    color: white;
    font-size: 1.5rem;
}

.referencePoint {
    position: relative;
    width: 0;
    height: 0;
}

.highlight-square {
    position: absolute;
    padding: 1px;
    background-color: blue;
    opacity: 0.3;
    z-index: 2;
    pointer-events: none;
    width: 100px;
    height: 100px;
}

.no-display {
    display: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  [data-md-tooltip] {
    position: relative;
   }
   [data-md-tooltip]:before {
      content: attr(data-md-tooltip);
      position: absolute;
      bottom: -35px;
      left: 50%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #616161e6;
      color: white;
      border-radius: 2px;
      font-size: 12px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
   }
   [data-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
   }