.taskbar {
    height: 35px;
    position: absolute;
    width: 100vw;
    min-width: 82rem;
    bottom: 0;
    background-color: #bfbfbf;
    display: table;
    table-layout: auto !important;
    z-index: 100;
}

.taskbarBtn {
    border: 2px solid;
    border-bottom-color: #444;
    border-right-color: #444;
    border-left-color: #a6a6a6;
    border-top-color: #a6a6a6;
    background-color: #bfbfbf;
    line-height: 0;
    padding: 2px;
    height: 25px;
    max-width: inherit;
    min-width: 150px;
    cursor: pointer;
}

.taskbarInfo {
    float: right;
    line-height: 0;
    font-size: 1.5rem;
    margin-right: 1px;
    background:rgb(190, 190, 190);
    border: 1px solid;
    padding: 8px;
    top: 2px;
    position: relative;
    min-width: 14.9rem;
    max-height: 3rem;
    text-align: center;
    border-color:#808080 rgb(236, 236, 236) rgb(236, 236, 236) #808080;
}

.taskbarDate {
    top: 5px;
    position: relative;
    float: left;
}

.taskbarTime {
    float: left;
    margin-left: 10px;
    top: 5px;
    position: relative;
}

.taskbar tr td {
    width: 1px;
}

.taskbarInfoTD {
    width: 100% !important;
}

.taskbar tr {
    display: inline-block;
    padding-left: 2px;
    width: 100%;
}

.taskbarBtn:hover {
    background-color: #a6a6a6;
}

.taskbarElement {
    padding: 1.5px !important;
    position: relative;
    top: 50%;
    display: table-cell;
}

.taskbarImg {
    width: 15px;
    height: 15px;
    padding: 0;
    margin-left: 4px;
    float: left;
    transform: translateY(-1px);
}

.taskbarText {
    transform: translateY(6px);
    font-size: 16px;
    text-align: center;
    font-family: 'VT323', monospace;
}

.taskbarStartBtn {
    border: 4px solid;
    border-bottom-color: #444;
    border-right-color: #444;
    border-left-color: #a6a6a6;
    border-top-color: #a6a6a6;
    background-color: #bfbfbf;
    font-size: 12px;
    line-height: 0;
    padding: 2px;
    height: 25px;
    width: 35px;
    display: inline-block;
    transform: translateY(10%);
    cursor: pointer;
}

.groove {
    float: left;
    border: solid 1px;
    margin-left: 10px;
    height: 20px;
    position: relative;
    top: -4px;
    border-bottom-color: rgb(88, 88, 88);
    border-right-color: rgb(88, 88, 88);
    border-left-color: #9e9d9d;
    border-top-color: #9e9d9d;
    background-color: #9e9d9d;
}

.taskbarStartBtn:hover {
    background-color: #b6b2b2;
}

.startmenu {
    z-index: 3;
    border: 3px solid;
    background-color: #bfbfbf;
    border-color: #a6a6a6;
    padding: 2px;
    position: fixed;
    width: 170px;
    border-bottom: none;
    border-right-color: #444;
    border-left-color: #a6a6a6;
    border-top-color: #a6a6a6;
    bottom: 35px;
}

.taskbarGridItem {
    align-content: center;
    display: flex;
    align-items: center;
    padding: 2px;
    height: 25px;
}

.taskbarGridItem p {
    display: inline-block;
    margin: 0;
}

.taskbarGridItem img {
    float: left;
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
    margin: 0;
}

.taskbarGridContainer:hover {
    background-color: #a6a6a6;
}

.taskbarGridContainer {

}