.navbar-link {
    font-size: 80%;
    font-weight: bold;
    text-decoration-line: none;
    color: #3f51b5;
    margin: 10px;
    position: relative;
    font-family: 'VT323' !important;
}

.navbar-link:hover {
    filter: brightness(150%);
}

.iconRotateOpen {
    transform: rotate(0deg);
}

.iconRotateClose {
    transform: rotate(45deg);
}

.navbar {
    margin-right: 0.5vw;
}

.navIcon {
    position: fixed;
    float: left;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: display 0.3s;
    -webkit-transition: display 0.3s;
}

.swipe {
    display: none;
}
