.wip {

}

.wip-bg {
    background: black;
    opacity: 0.75;
    z-index: 250;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.wip-txt {
    z-index: 500;
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 35%;
    left: auto;
    right: auto;
    text-align: center;
    width: 100%;
}

.wip-span {
    color: orange;
    font-size: 6rem;
    font-weight: bold;
}

.wip-sm {
    font-size: 2rem;
    display:inline-block;
    font-weight: bold;
    cursor: pointer;
    color: rgb(209, 16, 16);
    transition: font-size 0.6s ease-in-out;
}

.wip-sm:hover {
    color: rgb(255, 45, 45);
    animation-play-state: paused;
    font-size: 24px;
}