.intro {
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    font-weight: bolder;
    border-radius: 6px;
    padding-left: 45px;
}

.header {
    z-index: 100;
    padding-top: 20px;
    color: rgb(238,238,238);
}

.divider {
    width: 90%;
    color:#444;
    border-top: 1px solid rgb(238,238,238) !important;
    height: 3px;
    border: none;
    background-color: black;
}

.description {
    font-size: 20px;
    color: rgb(238,238,238);
}

.banner {

}

.intro-border {
    background-position: left bottom;
}

.blinker {
    background-color: rgb(238,238,238);
}

.whitespace {
    color: transparent;
    font-weight: bold;
    transition: all .4s;
    -webkit-transform: scale(0.4);
    transform: scaleX(0.2) scaleY(0.435) translateY(1px) translateX(-80px);
    display: inline-block;
}

.remove {
    visibility: hidden;
}

.blink-intro {
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: visibility 1.5s ease-in-out;
    visibility: visible;
}