.desktop {
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: fixed;
    padding-left: 30px;
    padding-right: 30px;
}

.row {
    box-sizing: inherit;
    display: table;
}

.col-1 {
    width: 100px;
    display: table-cell;
}